body{
  margin: 0 auto;
}
main {
  margin: 0 auto;
}
#header{
  height: 12vh;
;
}
#innerHeader{
  padding-top: 3vh;
  width: 80%;
  margin: 0 auto;
  height: inherit;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
#logo{
  z-index: 2;
  position: absolute;
  width: 85px;
  height: 85px;
  cursor: pointer;
  overflow: hidden;
}
#logo img{
  height: inherit;
}
#block{
  order: 1;
  width: 80%;
}
#searchAndCart{
  order: 2;
  width: 20%;
}
#banner{
  height: 35vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#banner img{
  width: 100%;
}
#dailyDeals{
  width: 80%;
  margin: 0 auto;

}
#dealTitle{
  padding-top: 10px;
  text-align: left;
  height: 8vh;
}
#deals{
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deal{
  cursor: pointer;
  margin-right: 40px;
  height: 100%;
}
.deal img{
  height: 70%;
}
.bargain{
  text-decoration: line-through;

}
#searched{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 83vh;
  overflow-y: scroll;
}
.product{
  margin-left: 20px;
  margin-top: 50px;
  height: 50%;
  cursor: pointer;
}
.product img{
  height:80%;
  max-height: inherit;
}
#cart{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#cart td img{
  height: 150px;
  margin: 20px;

}
#cart td{
  padding-right: 200px;
}
#cart tr{
  border-bottom: 2px solid black;
}
#footer{
  padding-top: 10px;
  text-align: center;
  height: 5vh;
}
