body{
  margin: 0 auto;
  background: linear-gradient(135deg, #fff 43%, #fff 43%, #C8C8C8 89%, #C8C8C8 89%);
}
main {
  margin: 0 auto;
  max-height: 100vh;
  max-width: 100vw;
  font-family: Open Sans Condensed;
}
button {
  opacity: 0.7;
  border: none;
  background-color: #C8C8C8;
}
button:hover{
  background-color: #fff;
}
p{
  display: inline;
  margin: 0 auto;
}
#header{
  height: 12vh;
  background: #D3D3D3;
  opacity: 0.5;
}
#header h1{
  font-family: lobster;
  color: #000;
}
#innerHeader{
  /*padding-top: 3vh;*/
  width: 80%;
  margin: 0 auto;
  height: inherit;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
#innerHeader input{
  height: 40px;
  width:300px;
}
#innerHeader button{
  background-color: #fff;
  height: 40px;
  width: 120px;
}
#innerHeader button:hover{
  background-color: #FFFACD;

}
#innerHeader h5{
  margin-left: 250px;
}
#logo{
  z-index: 2;
  position: absolute;
  width: 200px;
  cursor: pointer;
  overflow: hidden;
}
#logo img{
  height: inherit;
}
#block{
  order: 1;
  width: 60%;
}
#searchAndCart{
  padding-top: 2vh;
  order: 2;
  width: 40%;
}
#banner{
  height: 35vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#banner img{
  width: 100%;
}
#dailyDeals{
  width: 80%;
  margin: 0 auto;
  overflow-x: scroll;
}
#dealTitle{
  padding-top: 10px;
  text-align: left;
  height: 8vh;
}
#deals{
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.soldOut{
  opacity: 0.3;
}
.deal{
  cursor: pointer;
  margin-right: 40px;
  height: 100%;
}
.deal img:hover{
  opacity: 0.7;
}
.deal img{
  height: 70%;
}
.bargain{
  text-decoration: line-through;
}
.details{
  margin: 0 auto;
  margin-left: 20%;
  height: 80vh;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
.details p{
  margin-top: 50px;
}
.pic{
  width: 30%;
  order: 1;
}
.pic img{
  height:65%;
}
.deats{
  margin-top: 50px;
  margin-left: 5%;
  width: 30%;
  order: 2;
}
#searched{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 83vh;
  overflow-y: scroll;
}
.product{
  margin-left: 20px;
  margin-top: 50px;
  height: 50%;
  cursor: pointer;
}
.product img{
  height:80%;
  max-height: inherit;
}
.product img:hover{
  opacity: 0.7;
}
#cart{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 75vh;
  overflow-y: scroll;
  width: 90%;
}
#cart td img{

  height: 150px;
  max-height: 15vh;
  margin: 20px;

}
#cart td{
  padding-right: 200px;
}
#cart tr{
  border-bottom: 2px solid #A9A9A9;
}
#cart button{
  margin-top: 5vh;
}
.empty{
  margin-top: 50%;
}
.total{
  height: 5vh;
  margin-left: 80%;
}
#footer{
  padding-top: 10px;
  text-align: center;
  height: 5vh;
}
